.geladeira {
    background-image: url("https://ik.imagekit.io/energen/Icones_Visual/geladeira.png?updatedAt=1681779909959");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    width: 10vh;
    padding: 10px;
}