.select-categoria {
    display: flex;
    flex-direction: column;
}

.imagem-cadastro-produto {
    background-image: url('https://ik.imagekit.io/energen/Banner/banner_verde_claro-15.png?updatedAt=1682622718120');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.form-cadastro-produto {
    background-color: #ffffff;
    margin:10%;
    border-radius: 5%;
    padding: 5%;
}

.fundo-cadastro-produto {
    background-color: #99FFB9;
    padding: 6vh 0 0 5vh;
}

.button-cadastro-produto {
    background-color: #99FFB9 !important;
}

.texto-cadastro-produto {
    color: #06B566 !important;
    font-weight: bold !important;
}