.imagemBanner{
    background-image: url('https://ik.imagekit.io/energen/Banner/bannerDessaRedimensionado-14.png?updatedAt=1682008231610');
    background-position:'center';
    min-height: 94vh;
    min-width: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.iconesProdutos{
    height: 18vh;
    width: 18vh;
    padding: 10px;
}

.alinha{
    display: flex;
    gap: 3%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.imagem-troca{
    width: 100%;
    object-fit: fill;
    border-radius: 2rem;
    
}

.margemButton{
    display:flex;
    padding: 4% 0;
    justify-content:center ;
    align-items: center;
    text-align: center;
}

.margemButton button{
    margin-left: 2%;
}

.tituloIcone {
    padding-bottom: 3%;
    padding-top: 1%;
}

.caixa-troca {
    margin: 5% 5% 0 5%;
    display: flex;
    gap: 2%;
    align-items: center;
}

.texto-sobre {
    text-align: center;
    
}

.borda-texto {
    background-color: #06B566;
    border-radius: 2rem;
    padding: 2.95%;
}

.topo-home {
    margin-top: 4%;
}

.teste-back {
    background-color: #99ffb98e;
}