.imagemBanner{
    background-image: url('https://ik.imagekit.io/energen/Banner/bannerDessaRedimensionado-14.png?updatedAt=1682008231610');
    background-position:'center';
    min-height: 90vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.iconesProdutos{
    height: 18vh;
    width: 18vh;
    padding: 10px;
}

.alinha{
    display: flex;
    gap: 3%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.imagem-troca{
    width: 80%;
    object-fit: fill;
    margin-top: 4%;
}

.margemButton{
    display:flex;
    padding: 4% 0;
    justify-content:center ;
    align-items: center;
    text-align: center;
}

.margemButton button{
    margin-left: 2%;
}

.tituloIcone {
    padding-bottom: 3%;
    padding-top: 1%;
}

.caixa-troca {
    margin: 5% 5% 0 5%;
    display: flex;
    gap: 2%;
    align-items: center;
}

.texto-sobre {
    text-align: center;
}

.borda-texto {
    background-color: #06b566b5;
    border-radius: 2rem;
    padding: 2.95%;
    min-height: 58vh;
    align-items: center;
    color: #ffffff
}

.borda-texto p{
    margin-top: 2%;
    font-size:x-large;
}
/* .teste-back {
    background-color: #99ffb98e;
} */