.logo {
    width: 8vw;
    display: flex;
}

.login {
    color: white !important;
}

.menu{
    position: static;
    justify-content: center;
    display: flex;
    align-content: center;
}
.alinhamento{
    align-items:center
}